---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import AddEntry from "../components/AddEntry.astro";

---
<Layout>
  <div class="flex h-screen bg-gray-50">
    <!-- Sidebar -->
    <Sidebar />
    
    <!-- Main content -->
    <div class="flex-1 flex flex-col overflow-hidden lg:ml-64">
      <!-- Header -->
      <Header />
      
      <!-- Main content area -->
     <AddEntry></AddEntry>
    </div>
  </div>
</Layout>