<main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-50 p-6">
    <div class="max-w-7xl mx-auto">
      <div class="bg-white shadow rounded-lg p-6">
        <h1 class="text-2xl font-bold text-gray-900 mb-6">Address</h1>
        <p class="text-gray-600">Use this placeholder to add your informations</p>
        <div class="space-y-10 divide-y divide-gray-900/10">
          
          
            <div class="grid grid-cols-1 gap-x-8 gap-y-8 pt-10 md:grid-cols-3">
              <div class="px-4 sm:px-0">
                <h2 class="text-base font-semibold leading-7 text-gray-900">Contact Information</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">Use this placeholder to add your informations</p>
              </div>
              
          
              <form class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
                <div class="px-4 py-6 sm:p-8">
                  
                  <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-2 sm:col-start-1">
                      <label for="prefix" class="block text-sm font-medium leading-6 text-gray-900">Prefix</label>
                      <div class="mt-2">                      
                        <select name="prefix" id="prefix" autocomplete="prefix" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                          <option>Mr.</option>
                          <option>Mrs.</option>
                          <option>Miss</option>
                        </select>
                    </div>
                    </div>
                    <div class="sm:col-span-2">
                      <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">First name</label>
                      <div class="mt-2">
                        <input type="text" name="first-name" id="first-name" autocomplete="given-name" placeholder="First Name" class=" px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                      </div>
                    </div>
          
                    <div class="sm:col-span-2">
                      <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Last name</label>
                      <div class="mt-2">
                        <input type="text" name="last-name" id="last-name" autocomplete="family-name" placeholder="Last Name" class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                      </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Addres Line 1</label>
                        <div class="mt-2">
                          <input type="text" name="first-name" id="first-name" autocomplete="given-name" placeholder="Address line 1 .." class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                      </div>

                      <div class="sm:col-span-3">
                        <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Addres Line 2</label>
                        <div class="mt-2">
                          <input type="text" name="first-name" id="first-name" autocomplete="given-name" placeholder="Address line 2 .. " class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                      </div>

                    <div class="sm:col-span-3 sm:col-start-1">
                      <label for="city" class="block text-sm font-medium leading-6 text-gray-900">City</label>
                      <div class="mt-2">                      
                        <select name="city" id="city" autocomplete="city" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                          <option>Utsang</option>
                          <option>Amdo</option>
                          <option>Kham</option>
                        </select>
                    </div>
                    </div>
                    <div class="sm:col-span-3 sm:col-start-1">
                        <label for="state" class="block text-sm font-medium leading-6 text-gray-900">State/Province</label>
                        <div class="mt-2">                      
                          <select name="state" id="state" autocomplete="state" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                            <option>Utsang</option>
                            <option>Amdo</option>
                            <option>Kham</option>
                          </select>
                      </div>
                      </div>

                      <div class="sm:col-span-3 sm:col-start-1">
                        <label for="zipcode" class="block text-sm font-medium leading-6 text-gray-900">Zip Code</label>
                        <div class="mt-2">                      
                            <div class="mt-2">
                                <input type="text" name="zipcode" id="zipcode" autocomplete="postal-code" placeholder="Zip code" class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                              </div>
                      </div>
                      </div>

                      <div class="sm:col-span-3">
                        <label for="township" class="block text-sm font-medium leading-6 text-gray-900">Country</label>
                        <div class="mt-2">
                          <select name="township" id="township" autocomplete="township" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                              <option>Add..</option>
                              
                            </select>
                      </div>
                      </div>
                  </div>

                <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
                  <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
                  <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
                </div>
              </form>
            </div>
          </div>
      </div>
    </div>
  </main>